<div class="row mx-md-n5">
　<div class="col-2 pt-3 border bg-light">ラーメン店</div>
    <div class="col pt-3 border">
        <p>{{item.name|default_if_none:"未入力"}}</p>
    </div>
</div>

<div class="row mx-md-n5">
　<div class="col-2 pt-3 border bg-light">メニュー名称</div>
    <div class="col pt-3 border">
        <p>{{item.name1|default_if_none:"未入力"}}</p>
    </div>
</div>

<div class="row mx-md-n5">
　<div class="col-2 pt-3 border bg-light">都道府県</div>
    <div class="col pt-3 border">
        <p>{{item.name2|default_if_none:"未入力"}}</p>
    </div>
</div>
    
<div class="row mx-md-n5">
　<div class="col-2 pt-3 border bg-light">市区町村</div>
    <div class="col pt-3 border">
        <p>{{item.name3|default_if_none:"未入力"}}</p>
    </div>
</div>

<div class="row mx-md-n5">
　<div class="col-2 pt-3 border bg-light">味</div>
    <div class="col pt-3 border">
        <p>{{item.sample_1|default_if_none:"未入力"}}</p>
    </div>
</div>
    
<div class="row mx-md-n5">
　<div class="col-2 pt-3 border bg-light">満足度評価</div>
    <div class="col pt-3 border">
        <p>{{item.sample_satisfaction|default_if_none:"未入力"}}</p>
    </div>
</div>
    
<div class="row mx-md-n5">
　<div class="col-2 pt-3 border bg-light">こってり度評価</div>
    <div class="col pt-3 border">
        <p>{{item.sample_3|default_if_none:"未入力"}}</p>
    </div>
</div>

<div class="row mx-md-n5">
　<div class="col-2 pt-3 border bg-light">麺の太さ評価</div>
    <div class="col pt-3 border">
        <p>{{item.sample_menhutosa|default_if_none:"未入力"}}</p>
    </div>
</div>

<div class="row mx-md-n5">
　<div class="col-2 pt-3 border bg-light">値段評価</div>
    <div class="col pt-3 border">
        <p>{{item.sample_5|default_if_none:"未入力"}}</p>
    </div>
</div>

    
<div class="row mx-md-n5">
　<div class="col-2 pt-3 border bg-light">コメント</div>
    <div class="col pt-3 border">
        <p>{{item.memo|default_if_none:"未入力"}}</p>
    </div>
</div>

<div class="row mx-md-n5">
　<div class="col-2 pt-3 border bg-light">来店日時</div>
    <div class="col pt-3 border">
        <p>{{item.date|default_if_none:"未入力"}}</p>
    </div>
</div>
    
<div class="row mx-md-n5">
　<div class="col-2 pt-3 border bg-light">ホームページ</div>
    <div class="col pt-3 border">
        <a href="{{item.sample_url }}">{{item.sample_url}}</a>
    </div>
</div>
